doctype html

include nav.pug
include running.pug
include scripture.pug

mixin favicon
  mixin apple(sizes)
    link(rel='apple-touch-icon' href=`asset/favicon/apple-touch-icon-${sizes}.png` sizes=sizes)
  mixin google(sizes)
    link(rel='icon' href=`asset/favicon/android-chrome-${sizes}.png` sizes=sizes)
  link(rel='icon' href='favicon.ico' sizes='32x32')
  link(rel='icon' href='asset/favicon/favicon.svg' type='image/svg+xml')
  +google('48x48')    // google search
  +google('192x192')  // chrome
  +apple('167x167')   // iPad
  +apple('180x180')   // iPhone

html(lang='en')
  head
    block head
      +favicon
      title me2christ.com - REPENT, FOR THE KINGDOM OF HEAVEN IS AT HAND!
      meta(charset='UTF-8')
      meta(name='description' content='The Gospel of our Lord Jesus Christ')
      meta(name='version' content=process.env.npm_package_version)
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      if process.env.M2C_LIVE_RELOAD
        script: include livereload.js
      style: include:svg:postcss base.sss
  // FIX: ipad tooltips -- see https://dev.webonomic.nl/fixing-the-iphone-css-hover-problem-on-ios
  body(onclick)
    block header
    section
      block main
    block footer
