append head
  style: include scripture.css
-
  function expand(ref) {
    return ref.replaceAll('Mat.', 'Matthew ').replaceAll('Rom.', 'Romans ').replaceAll('Cor.', 'Corinthians ').replaceAll('Gal.', 'Galatians ').replaceAll('Eph.', 'Ephesians ').replaceAll('Php.', 'Philippians ').replaceAll('Col.', 'Colossians ').replaceAll('Tim.', 'Timothy ').replaceAll('Heb.', 'Hebrews ').replaceAll('Pet.', 'Peter ').replaceAll('Rev.', 'Revelation ')
  }

  function finalise(ref) {
    return ref.replaceAll(/-(\d+)/g, '&ndash;$1')
  }

mixin see(refs, label='See')
  - if (!refs) return
  - var refarr = refs.split(';')
  span.see  (
  span= label
  each ref in refarr
    | 
    - ref = finalise(expand(ref))
    mark.tooltip!= ref
      span.tooltiptext= verses[ref.trim()]
  span )

mixin seeAlso(refs)
  +see(refs, 'See also')

mixin verse(ref)
  .verse.tooltip-anchor
    span.pre= attributes.pre
    span.body
      block
    span  &ndash;
    - ref = finalise(expand(ref))
    mark!= ref
    +seeAlso(attributes.seeAlso)
