extends lib/base.pug

append head
  style: include contact.css
  script(src='https://challenges.cloudflare.com/turnstile/v0/api.js' async defer)

mixin input(id, label, type, desc)
  label(for=id) #{label}
  input(id=id name=id placeholder=`Your ${desc}` required type=type)

mixin textarea(id, label)
  label(for=id) #{label}
  textarea(cols=40 id=id name=id placeholder=`Your message` required rows=10)

append main
  .card
    h1 Contact Me
    .contact
      form(method='POST' action='https://me2christ-worker.dizzib-dev.workers.dev')
        +input('name', 'Name', 'text', 'name')
        +input('email', 'Email', 'email', 'email address')
        +textarea('message', 'Message')

        div(data-sitekey=process.env.TURNSTILE_SITE_KEY data-theme='light' data-size='flexible').cf-turnstile.mt-8
        button(type='submit').mt-8 Send
