style: include:sss deception.tract.sss

mixin tract-image(basename, alt)
  - const root = 'asset/tract/deception'
  - const href_raw = `${root}/raw/${basename}.jpg`
  - const href_thumb = `${root}/thumb/${basename}.jpg`
  a(href=href_raw): img(
    alt=alt
    class=attributes.class
    src=href_raw
    srcset=`${href_thumb} 1280w, ${href_raw} 9999w`
  )

.card.w-full
  h1 False Gospel Tracts
  p.warn: :link Beware of gospel tracts which misrepresent the true biblical gospel. Some examples are shown below.
.card
  +tract-image('IMG_0362', 'A false gospel tract').tract
  p: :link This tract presents the false doctrines of [Penal Substitution Atonement](#psa) (red highlights) and the [Imputed Righteousness of Christ](#irc) (purple highlight).
.card
  +tract-image('IMG_0370', 'A false gospel tract').tract
  p: :link This tract presents the false doctrines of [Penal Substitution Atonement](#psa) (red highlights) and the [Imputed Righteousness of Christ](#irc) (purple highlight).
.card
  +tract-image('IMG_0379', 'A false gospel tract').tract
  p: :link These tracts present the false doctrines of [Justification by Faith Alone](#jfa) (orange highlight) and the Prosperity Gospel (brown highlights).
