style: include:sss deception.tract.sss

mixin tract-image(basename, alt)
  - const root = 'asset/tract/deception'
  - const href = `${root}/raw/${basename}.jpg`
  - const thumb = `${root}/thumb/${basename}.jpg`
  a(href=href): img(class=attributes.class alt=alt src=thumb srcset=`${thumb} 540w, ${href} 1280w`)

.card.w-full
  h1 False Gospel Tracts
  p.warn: :link Beware of gospel tracts which misrepresent the true biblical gospel. Some examples are shown below.
.card
  +tract-image('IMG_0362', 'A false gospel tract').tract
  p: :link This tract presents the false doctrines of [Penal Substitution Atonement](deception.html#psa) (red highlights) and the [Imputed Righteousness of Christ](deception.html#iroc) (purple highlight).
.card
  +tract-image('IMG_0370', 'A false gospel tract').tract
  p: :link This tract presents the false doctrines of [Penal Substitution Atonement](deception.html#psa) (red highlights) and the [Imputed Righteousness of Christ](deception.html#iroc) (purple highlight).
.card
  +tract-image('IMG_0379', 'A false gospel tract').tract
  p: :link These tracts present the false doctrines of [Justification by Faith Alone](deception.html#jbfa) (orange highlight) and the Prosperity Gospel (brown highlights).
