style: include:sss deception.tract.sss

mixin img(basename, alt_text)
  - const root = 'asset/tract/deception'
  - const href_raw = `${root}/raw/${basename}.jpg`
  - const href_thumb = `${root}/thumb/${basename}.jpg`
  a(href=href_raw): img(
    alt=alt_text
    class='tract'
    src=href_raw
    srcset=`${href_thumb} 640w, ${href_raw} 1280w`
    sizes='(max-width: 550px) 100vw, (max-width: 1100px) 50vw, 33vw'
  )

.card.w-full
  h1 False Gospel Tracts
  p.warn: :link Beware of gospel tracts which misrepresent the true biblical gospel. Some examples are shown below.
.card
  +img('IMG_0362', 'A false gospel tract')
  p: :link This tract presents the false doctrines of [Penal Substitution Atonement](#psa) (red highlights) and the [Imputed Righteousness of Christ](#irc) (purple highlight).
.card
  +img('IMG_0370', 'A false gospel tract')
  p: :link This tract presents the false doctrines of [Penal Substitution Atonement](#psa) (red highlights) and the [Imputed Righteousness of Christ](#irc) (purple highlight).
.card
  +img('IMG_0379', 'A false gospel tract')
  p: :link These tracts present the false doctrines of [Justification by Faith Alone](#jfa) (orange highlight) and the Prosperity Gospel (brown highlights).
