extends lib/base.pug

append head
  style: include lib/bg-dark.css
  style: include deception.css

  - const PAGE_ID='deception'

mixin belief(title)
  .card
    h2= title

mixin preamble(title, proof_texts, origin, aka)
  .preamble
    h2!= title
    .tooltip-anchor #[strong False doctrine: ]
      block
    if origin
      div #[strong Origin:] #{origin}
    if aka
      div #[strong Also known as:] #{aka}
    // if attributes.deception
    //   div #[strong Level of Deception:] #{attributes.deception}
    .tooltip-anchor
      strong.tooltip.help Proof-texts:
        span.tooltiptext These Scripture verses are commonly used to promote this false doctrine.
      +refs(proof_texts)

mixin danger()
  .danger
    strong Danger:
    block

mixin refutation()
  .refutation
    h3.mt-4 Refutation
    block

mixin tooltip(text)
  //- nest .tooltip so tooltip dotted underline does not extend leftwards
  span: .tooltip.help!= text
    .tooltiptext
      block

mixin tooltip-works()
  +tooltip('<em>works</em>')
    | Things done in faithful obedience and love toward God, NOT things done by our own efforts (which would lead to self-righteousness), nor keeping the the old covenant Law of Moses.

append main
  include include/deception.pug
