extends lib/base.pug

append head
  style: include lib/bg-dark.css
  style: include deception.css

  - const PAGE_ID='deception'

mixin belief(title)
  .card
    h2= title

mixin preamble(title, proof_texts, origin)
  .preamble
    h2!= title
    div.tooltip-anchor #[strong False doctrine: ]
      block
    if origin
      div #[strong Origin:] #{origin}
    if attributes.aka
      div #[strong Also known as:] #{attributes.aka}
    // if attributes.deception
    //   div #[strong Level of Deception:] #{attributes.deception}
    .tooltip-anchor
      strong.tooltip.help Proof-texts:
        span.tooltiptext These Scripture verses are the most common ones used to promote this false doctrine.
      +refs(proof_texts)

mixin errors()
  .errors
    strong Errors:
    block

mixin refutation()
  .refutation.tooltip-anchor
    h3.mt-4 Refutation
    block

mixin tooltip(text)
  //- nest .tooltip so tooltip dotted underline does not extend out leftwards
  span: .tooltip.help= text
    .tooltiptext
      block

append main
  .card.dark
    h1 False Doctrines
    p.tooltip-anchor
      | Friends, let us be vigilant, for the devil came to Jesus abusing Scripture
      +see('Mat.4:6; Luke 4:9-11', 'see'): |  and has been doing the same for 6,000 years. The apostle Peter warns us how some of Paul's writings are hard to understand and will be twisted by the unlearned
      +see('2-Pet.3:15-16', 'see'): |. Jesus warns us to beware of false prophets and false doctrines
      +see('Mat.7:15-20, 16:6,12', 'see'): |.
    .verses
      +verse('1-Tim.4:1,2')(seeAlso='2-Cor.11:3-4, 11:13-15'): :markdown-it Now the Spirit expressly says that in latter times some will depart from the faith, giving heed to deceiving spirits and *doctrines of demons*, speaking *lies* in hypocrisy, having their own conscience seared with a hot iron,
      +verse('2-Pet.2:1')(seeAlso='Acts 20:29-31'): :markdown-it But there were also false prophets among the people, even as there will be *false teachers* among you, who will secretly bring in *destructive heresies*, even denying the Lord who bought them, and bring on themselves swift destruction.
      +verse('Jude 1:3')(seeAlso='Jude 1:4; Eph.5:11; 2-Tim.2:15; 1-John 4:1'): :markdown-it Beloved, while I was very diligent to write to you concerning our common salvation, I found it necessary to write to you exhorting you to contend earnestly for the faith which was once for all delivered to the saints.
      +verse('2-Tim.4:3-4'): :markdown-it For the time will come when they will not endure sound doctrine, but according to their *own desires*, because they have itching ears, they will heap up for themselves teachers; and they will turn their ears away from the truth, and be *turned aside to fables*.
    p.mb-0 Neither the prophets, nor the Lord Jesus, nor His apostles taught any of the doctrines found below.
  .cards.dark.doctrines
    .card.doctrine
      +preamble(
        'Penal Substitution Atonement (PSA)',
        'Is.53:4,6,10; Mat.27:46; John 19:30; Rom.3:25; Col.2:14; 1-John 2:2, 4:10',
        '(Anselm, Aquinas), Luther, Calvin')(deception='High')
        | Jesus paid the penalty for our past, present and future sins. The wrath of God was poured out and satisfied as the Father punished the Son so we can go free.
      +errors
        li Logically leads to double jeopardy or universalism, which can lead to Calvinism's limited atonement
        li Does not fix the believer's relationship with God, only their legal standing
        li Maligns God's character
      +refutation
        li In Jesus' parables, the unpayable debt is #[em forgiven], not paid off:
          +refs('Mat.18:23-27; Luke 7:41,42')
        li Jesus is our #[em ransom], a perfect #[em sin offering] to lead us to repentance:
          +refs('Mark 10:45; 1-Tim.2:6; 1-Pet.1:18,19')
        li Jesus did not become a sinner on the cross, but was offered up as an innocent Passover lamb to God:
          +refs('1-Cor.5:7; Heb.9:14')
        li On the cross, Jesus quotes
          +refs('Psa.22:1')
        li The sacrificial animals in Leviticus were not being punished
        li
          span The
          +tooltip('Septuagint version of Isaiah 53:10'): |And the Lord desires to cleanse him from his blow. If you offer for sin, your soul shall see a long-lived offspring. And the Lord wishes to take away from the pain of his soul, (NETS version)
          span reads differently to the Masoretic
    .card.doctrine
      +preamble('Justification by Faith Alone', 'John 6:29; Rom.3:28, 10:9; Eph.2:8-9', 'Luther, Calvin')(aka='Sola Fide')
        span We are
        +tooltip('justified'): |Made righteous (Greek δικαιόω - dikaioō)
        span by faith alone, not by anything we do (our works). Good works should follow but are not necessary for salvation.
      +errors
        li Deceives the believer to think what they do plays no role in their salvation (monergism). Therefore there is much less incentive for good works or obedience to God
        li It logically follows that baptism (a good work of faith) is not required for salvation
      +refutation
        li
          span We are justified by (good) works (of faith and obedience):
          +verse('James 2:24'): |You see then that a man is justified by works, and not by faith only.
        li
          +verse('James 2:26'): |For as the body without the spirit is dead, so faith without works is dead also.
          +seeAlso('James 2:14-26')
        li: |We are also justified by grace and the blood:
          +refs('Rom.3:24, 5:9; Titus 3:7')
        li Baptism is a necessary part of salvation:
          +refs('Mark 16:16; Acts 2:38, 22:16; Rom.6:3-4; 1-Pet.3:21')
        li We must have good works (of faithful obedience) to enter the kingdom of heaven:
          +refs('Rom.2:5-10; Luke 13:24-27; Gal.6:7-10; Rev.20:12,13')
          |. We cannot #[em earn] eternal life... it is a gift from God, but with conditions
    .card.doctrine
      +preamble('Original Sin (Augustinian)', 'Psa.51:5; John 3:6; Rom.5:12,19; Eph.2:3', 'Augustine (influenced by Gnosticism)')
        |Everyone is born with a sinful nature inherited from Adam, with damnable guilt at birth.
      +errors
        li Deceives the believer to think God made them a certain way which is impossible to repent of
        li Allows sinners to blame God, not themselves, for their sins, therefore God is unjust to judge them
        li Leads to the unbiblical practice of infant baptism
      +refutation
        li
          span God made us without sin, but we chose to sin by our freewill:
          +verse('Ecclesiastes 7:29')
            |Truly, this only I have found: That God made man #[em upright], But they have sought out many schemes.
        li God holds us accountable for our own sin, not Adam's nor anyone else's:
          +refs('Deut.24:16; Eze.18:20')
        li Little children are innocent, not sinners, in the eyes of God:
          +refs('Deut.1:39; Mat.18:2-5, 19:13-15; Luke 18:15-17; Rom.9:11')
        li We can choose to do good by our own freewill:
          +refs('Rom.2:14,15')
        li Jesus was in #[em all things] made like us yet without sin:
          +refs('Heb.2:17')
        li Gnostics taught that all flesh is evil, so mis-interpreted
          +refs('Eph.2:3')
          span as concerning damnation by nature rather than personal sins
        // 'Isaiah 7:15; Jer.19:4; John 9:41')
    .card.doctrine
      +preamble('Imputed Righteousness of Christ', 'Is.64:6; Rom.4:6; 1-Cor.1:30; 2-Cor.5:21', 'Luther, Calvin')(aka='Double Imputation')
        |Jesus' righteousness is transferred onto us, and our sins are transferred onto Jesus, in a divine exchange.
      +errors
        li Abuses Isaiah 64:6, taking it out of context to imply we will always be sinners
      +refutation
        li: |Whoever #[em practices] righteousness is righteous:
          +refs('1-John 3:7,10')
        li: | Whoever does not #[em practice] righteousness cannot inherit the kingdom of God:
          +refs('Gal.5:19-21')
        li
          span The fine linen is not the righteous acts of Christ, but the saints:
          +verse('Rev.19:8'): |And to her it was granted to be arrayed in fine linen, clean and bright, for the fine linen is the righteous acts of #[em the saints].
        li True righteousness is found in obedience to Jesus, not in self-righteousness or in keeping the Law of Moses:
          +refs('Luke 18:9-14; Rom.3:21,22')
    .card.doctrine
      +preamble('Eternal security', 'John 6:37, 10:28; Rom.8:38,39; Php.1:6')(aka='Once Saved Always Saved')
        |You cannot be lost once you're saved.
      +errors
        li Deceives the believer to think they will enter the kingdom of God even if they should go back to living in sin
        li Related to the unbiblical idea that one can pray a "sinners' prayer" to be saved or born again
      +refutation
        li After initial salvation, we must endure to the end to be (finally) saved:
          +refs('Mat.24:13')
        li God removes unfruitful branches from the vine and casts them into the fire:
          +refs('John 15:1-10; Rom.11:20-22')
        li Scripture exhorts us to strive and be diligent to enter in with fear and trembling:
          +refs('Luke 13:24-27; 1-Cor.10:6-11; Php.2:12; Heb.4:1,11')
        li Scripture warns born again believers the danger of falling away from the faith and going back to a life of sin:
          +refs('Heb.6:4-6, 10:26-31; 2-Pet.2:20-22')
        li
          span It takes more than just a prayer to be born again:
          +verse('John 3:5')
            |Jesus answered, "Most assuredly, I say to you, unless one is born of #[em water] and the #[em Spirit], he cannot enter the kingdom of God.
          +seeAlso('John 3:3')
    .card.other
      h2 Others...
      :markdown-it
        - Annihilationism
        - Arianism
        - Calvinism (T.U.L.I.P)
          - Total Depravity
          - Unconditional Election
          - Limited Atonement
          - Irresistable Grace
          - Perseverance of the Saints
        - Cessationism
        - Dispensationalism
        - Hebrew Roots
        - Jehovah Witness
        - Mormonism
        - Roman Catholicism
        - Seventh Day Adventism
        - Theistic Evolution
        - Universalism
        - Word of faith / Prosperity Gospel
  .card.dark
    h1 False Belief Systems
  .cards.dark
    +belief('Secular Humanism')
    +belief('Islam')
    +belief('Judaism')
    +belief('Freemasonry')
    +belief('New Age')
    +belief('Hinduism')
    +belief('Satanism')
