extends lib/base.pug

append head
  style: include lib/bg-dark.css
  style: include heresies.css

  - const PAGE_ID='heresies'

mixin belief(title)
  .card
    h2= title

mixin heresy(title, doctrine, proof_texts, origin, problems, refuted_by)
  .card
    h2= title
    p #[strong Doctrine:] #{doctrine}
    if origin
      p #[strong Origin:] #{origin}
    if attributes.aka
      p #[strong Also known as:] #{attributes.aka}
    if attributes.deception
      p #[strong Level of Deception:] #{attributes.deception}
    p.tooltip-anchor #[strong Proof-texts:]
      +refs(proof_texts)
    if problems
      p #[strong Problems:] #{problems}
    if refuted_by
      p.tooltip-anchor #[strong Refuted by:]
        +refs(refuted_by)
    .defense #[strong Defense: ]
      block

append main
  .card.dark
    h1 Heresies
    p.tooltip-anchor
      | Friends, let us be vigilant, for the devil came to Jesus abusing Scripture
      +see('Mat.4:6', 'see'): |  and has been doing the same for thousands of years. The apostle Peter warns us how some of Paul's writings are hard to understand and will be twisted by the unlearned
      +see('2-Pet.3:15-16', 'see'): |. Jesus warns us to beware of false prophets and false doctrines
      +see('Mat.7:15-20, 16:6,12', 'see'): |.
    .verses
      +verse('1-Tim.4:1,2')(seeAlso='2-Cor.11:3-4, 11:13-15'): :markdown-it Now the Spirit expressly says that in latter times some will depart from the faith, giving heed to deceiving spirits and *doctrines of demons*, speaking lies in hypocrisy, having their own conscience seared with a hot iron,
      +verse('2-Pet.2:1')(seeAlso='Acts 20:29-31'): :markdown-it But there were also false prophets among the people, even as there will be *false teachers* among you, who will secretly bring in *destructive heresies*, even denying the Lord who bought them, and bring on themselves swift destruction.
      +verse('Jude 1:3')(seeAlso='Jude 1:4; Eph.5:11'): :markdown-it Beloved, while I was very diligent to write to you concerning our common salvation, I found it necessary to write to you exhorting you to contend earnestly for the faith which was once for all delivered to the saints.
      +verse('2-Tim.4:3-4'): :markdown-it For the time will come when they will not endure sound doctrine, but according to their *own desires*, because they have itching ears, they will heap up for themselves teachers; and they will turn their ears away from the truth, and be *turned aside to fables*.
    p.mb-0 Neither Jesus, nor His apostles, nor the pre-Nicene (early) church taught any of the doctrines found below.
  .cards.dark
    +heresy(
      'Penal Substitution Atonement',
      'Jesus paid the *penalty* for our sins. The wrath of God was poured out and satisfied as God punished Him for our sins so we can go free.',
      'Isaiah 53:10; Mat.27:46; Rom.3:25; 1-John 2:2',
      'Anselm, Aquinas, Luther, Calvin',
      '1. Maligns God\'s character and logically leads to double jeopardy or universalism, which leads to Calvinism\'s limited atonement. 2. does not fix our relationship with God.',
      'Psa.22:1; Mat.18:23-27; Mark 10:45; Luke 7:41-42; 1-Tim.2:6')(deception='High')
        :markdown-it
          In Matthew 18 and Luke 7 the unpayable debt was *forgiven* not paid off.
          In Mark 10 Jesus says he is our *ransom* for sin.
          Jesus became a *sin offering* to lead us to repentance.
          Jesus was quoting Psalm 22:1 on the cross.
          The Septuagint version of Isaiah 53:10 reads differently to the Masoretic.
    +heresy(
      'Justification by Faith Alone',
      'We are justified by faith alone, not by our works (anything we do).',
      'Rom.10:9; Eph.2:8-9',
      'Luther',
      '')
    +heresy(
      'Original Sin',
      'We are all born with a sinful nature inherited from Adam, guilty not innocent from birth. Unbaptised babies who die go to hell.',
      'Psa.51:5; Rom.5:12',
      'Augustine (influcenced by Gnosticsm)',
      '1. Allows sinners to blame God (not themselves) for their sins i.e. "God made me this way!", so God is unjust to judge them. 2. leads to the unbiblical practice of infant baptism.',
      'Mat.18:2-5; Rom.9:11')
    +heresy(
      'Imputed Righteousness',
      'Jesus\' righteousness is transferred onto us, and our sins are transferred onto Jesus.',
      '2-Cor.5:21',
      'Luther, Calvin',
      '')(aka='Double Imputation')
    +heresy(
      'Once Saved Always Saved',
      'After initial salvation, it is impossible to fall away from the faith.',
      '',
      '',
      '')
    +heresy(
      'Cessationism',
      'The gifts, signs and wonders of God are no longer operating today.',
      '',
      '',
      '')
    // Annihilationism
    // Dispensationalism
    // Irresistable Grace
    // Limited Atonement
    // Perseverance of the Saints
    // Prosperity
    // Theistic Evolution
    // Total Depravity
    // Unconditional Election
    // Universalism
    // Word of faith
  .card.dark
    h1 False Belief Systems
  .cards.dark
    +belief('Atheism')
    +belief('Evolution')
    +belief('Roman Catholicism')
    +belief('Islam')
    +belief('Judaism')
    +belief('Jehovah Witness')
    +belief('Mormonism')
    +belief('Seventh Day Adventism')
    +belief('Flat Earth')
    +belief('Freemasonry')
    +belief('New Age')
    +belief('Satanism')
