style: include:sss ministry.tract.sss

mixin img(basename, alt_text, factor)
  - const root = 'asset/tract/ministry'
  - const href_raw = `${root}/raw/${basename}.png`
  - const href_thumb = `${root}/thumb/${basename}.png`
  - const vw_size = 25 * factor // percentile width in viewport
  - const w_thumb = 630 * factor // physical pixel width of thumbnail (= logical px width * device-pixel-ratio)
  a(href=href_raw): img(
    alt=alt_text
    class=attributes.class
    src=href_raw
    srcset=`${href_thumb} ${w_thumb}w, ${href_raw} ${w_thumb * 2}w`
    sizes=`(max-width: 550px) ${vw_size * 2}vw, ${vw_size}vw`
  )

mixin img-a6(id, alt_text)
  +img(`A6_2s-${id}`, alt_text, 1).a6

mixin img-trifold(id, alt_text)
  +img(`pocket_trifold-${id}`, alt_text, 2).trifold

.card.w-full
  h1 Gospel Tracts
  p: :hi The word *gospel* is translated from the Greek word **εὐαγγέλιον** which means *good news* or *glad tidings*. Jesus commands His disciples to go out into the world and preach this good news...
  .verses.mt-4
    +verse('Mark 16:15-16'): | And He said to them, #[q.jesus Go into all the world and preach the gospel to every creature. He who believes and is baptized will be saved; but he who does not believe will be condemned.]
    +verse('Mat.10:7-8'): q.jesus And as you go, preach, saying, 'The kingdom of heaven is at hand.' Heal the sick, cleanse the lepers, raise the dead, cast out demons. Freely you have received, freely give.
  p: :link To help with this endeavour, I have created these gospel tracts. You can find the PDFs and [source code here](https://github.com/christ-resurrected/gospel-tracts).
.card
  h2 A6 2-sided
  p: :link Inspired by [Gospel Tract #1](https://abideintheword.com/evangelism) by Adam at [AbideInTheWord.com](https://abideintheword.com).
  +img-a6('00', 'Side 1 of A6 tract showing warning Scripture')
  +img-a6('01', 'Side 2 of A6 tract declaring the gospel message')
  p: :link For printing [this 2-page PDF](https://github.com/christ-resurrected/gospel-tracts/blob/master/pdf/tract_A6_2s.pdf) in the UK I recommend [Mixam Leaflets &amp; Flyers](https://mixam.co.uk/flyers) with the following options:
  ul
    li Orientation: portrait
    li Size: A6 (105 mm x 148 mm)
    li Colours (Front): Colour
    li Colours (Back): Colour
    li Paper Type: Gloss
    li Paper Weight: 300gsm
    li Lamination (Front): Gloss Lamination
    li Lamination (Back): Same As Front
.card
  h2 Pocket Trifold
  p: :link Inspired by the [Poland Gospel Tract](https://docs.google.com/document/d/1nw98_2VB3hayzH0XHPzGlwBWH2TvXYnWT5TD-7Ep8bc) by Thomas Albin Holmes.
  +img-trifold('00', 'Side 1 of pocket trifold tract, showing warning Scripture')
  +img-trifold('01', 'Side 2 of pocket trifold tract, declaring the gospel message')
  p This tract folds into a compact 72mm x 140mm.
