script: include ministry.contact.js
script: include ministry.contact-count.js
style: include:sss ministry.contact.sss
style: include:sss ministry.contact-button.sss
style .form-ui {display: none}

.card.w-full
  h1 Contact Me
  .contact
    #success.mt-8
    form(action=process.env.WORKER_URL)
      fieldset
        // if this mixin sits at the root, pug ignores doctype and reflects bool attributes e.g. required="required"
        mixin field(tag, id, label, minlen, maxlen, desc = '')
          - const ph = `Your ${id}` + (desc.length ? ` ${desc}` : '')
          .field
            .labels
              label(for=id)= label
              span(id=`${id}-count`).count
            #{tag}(id=id minlength=minlen maxlength=maxlen name=id oninput=`countText('${id}')` placeholder=ph required)&attributes(attributes)
              block
        legend
          p My name is Andrew and I am based in Bradford, UK.
          p If you would like to better understand the gospel of Jesus Christ, or need healing, deliverance from demons, or baptism, or need training with street ministry / evangelism, or have any questions, please contact me and I will try to help.
          p Please note I do not charge nor ask for money, for Jesus said:
            +verse('Mat.10:8'): | #[q.jesus Freely you have received, freely give]
        .form-ui
          - const isTest = 0 // set to 1 to aid testing during development
          +field('input', 'name', 'Name', 2, 40)(type='text' value=`${isTest ? 'name' : ''}`)
          +field('input', 'email', 'Email', 2, 40, 'address')(type='email' value=`${isTest ? 'test@email.com' : ''}`)
          +field('textarea', 'message', 'Message', 40, 800)(cols=40 rows=7)
            if isTest
              p This is a test message to test email functionality
          button(type='submit').mt-6 Send
          #error.mt-6
          include ministry.contact.turnstile.pug
        noscript: p Please enable javascript in your web browser to show the contact form.

script document.querySelector('.form-ui').style.display = 'block'
